<div class="mx-5 d-flex flex-direction-row">
  <div class="jumbotron col-9">
    <h1 class="display-3">
      Hello, world!
    </h1>
    <p class="lead">
      This is a simple hero unit, a simple jumbotron-style component for calling
      extra attention to featured content or information.
    </p>
    <hr class="my-4" />
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Voir plus ...</a>
    </p>
  </div>

  <div class="col-3">
    <div class="card p-3 mb-3 col-12">
      <form class="form-inline">
        <input class="form-control" type="text" placeholder="Recherche" />
        <button class="btn btn-secondary" type="submit">
          GO!!!!!
        </button>
      </form>
    </div>

<div class="p-3 mb-3 col-12 d-flex justify-content-between">
<i class="fab fa-facebook fa-3x"></i>
 <i class="fab fa-twitter fa-3x"></i>
 <i class="fab fa-snapchat fa-3x"></i>
 <i class="fab fa-instagram fa-3x"></i>

</div>

    <div class="">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link px-4 active" data-toggle="tab" href="#popular">Populaire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4" data-toggle="tab" href="#recent">Recent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4" data-toggle="tab" href="#cate">Categorie</a>
        </li>
       
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="popular">
          <p>
            Raw 
          </p>
        </div>
        <div class="tab-pane fade" id="recent">
          <p>
            Food 
          </p>
        </div>
        <div class="tab-pane fade" id="cate">
          <p>
            Etsy 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
