<div class="container">
  <div class="card my-3 p-4 col-12">
    
       <h2 class="">Html5</h2>
    
    <p class="lead">
      This is a simple hero unit, a simple jumbotron-style component for calling
      extra attention to featured content or information. This is a simple hero unit, a simple jumbotron-style component for calling
      
    </p>
    <hr class="my-2" />
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Voir plus ...</a>
    </p>
  </div>



<div class="card my-3 p-4 col-12">
    
       <h2 class="">Css3</h2>
    
    <p class="lead">
      This is a simple hero unit, a simple jumbotron-style component for calling
      extra attention to featured content or information. This is a simple hero unit, a simple jumbotron-style component for calling
      
    </p>
    <hr class="my-2" />
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Voir plus ...</a>
    </p>
  </div>



















  </div>
